@media screen and (min-width: 769px) {
  body {
    background-image: $bg-main-desktop;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }

  //   Hide the bottom navigation bar
  .bottom-nav {
    display: none;
  }

  // General styles for the the pages

  form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
    input {
      margin-bottom: 30px;
      height: 40px;
      border-radius: 40px;
      min-width: 315px;
      border: none;
      outline: none;
      box-shadow: $shadow-1;
      max-width: 300px;
      &::placeholder {
        text-align: center;
        color: $grey;
      }
      &.save-weight {
        background-color: $green;
        color: #fff;
      }
      &.submit-name {
        background-color: #000;
        color: #fff;
      }
    }
  }

  // Styles for the user sections
  .user {
    display: grid;
    grid-template-areas: "a a";
    grid-auto-columns: 50%;
    grid-gap: 10px;
    margin-top: 150px;

    // Styles for the motivational speech
    .motivational {
      margin-left: 40px;
      p {
        text-align: left;
        color: #fff;
        font-size: 1.3rem;
        font-weight: $bold;
      }
    }
  }

  //   Styles for the header
  header {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    .nav-bar {
      display: flex;
      justify-content: space-evenly;
      color: #fff;
      .top-nav {
        margin: 0 20px;
        font-weight: $bold;
      }
    }
    .logo {
      width: 300px;
    }
  }

  // Styles for the dashboard page
  .dashboard {
    .overview,
    .bmi {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: $shadow-1;
      margin: 40px 20px;
      padding: 20px;
      color: $grey;

      // Style for "Congratulatory message"
      .congratulatory-message {
        max-width: 60%;
        margin: auto;
      }

      // Style for "see history" link
      .see-history {
        margin-top: 30px;
        font-weight: $bold;
        a {
          font-size: 0.7rem;
        }
      }

      // Style for the h2 tags in two cards
      h2 {
        font-size: 2.8rem;
        &.coming-soon-header {
          color: $yellow;
          margin-bottom: 20px;
        }
      }

      // Style for the card heading
      .card-name {
        margin-bottom: 50px;
        font-weight: $bold;
      }

      // Other styles
      .current-weight {
        margin-bottom: 50px;
        .weight-value {
          color: $skyBlue;
          margin-top: 20px;
        }
      }
      .update-me {
        background-color: $green;
        color: #fff;
        font-weight: $bold;
      }
    }
  }

  // Styles for the history page
  .history {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    margin: 40px 20px;
    padding: 20px;
    color: $grey;
    .weight-entry {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 50px 0;
      .day {
        font-size: 2rem;
        font-weight: $bold;
      }
      .weight {
        text-align: left;
        margin-left: 20px;
      }
    }
  }
}
