@media screen and (max-width: 768px) {
  body {
    background-image: $bg-main-mobile;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  header {
    padding: 30px;
    .nav-bar {
      display: none;
    }
  }

  //   General Styles for the pages with focus on forms
  .user {
    margin-top: 50px;
    .motivational {
      display: none;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    input {
      margin-bottom: 30px;
      height: 40px;
      border-radius: 40px;
      min-width: 315px;
      border: none;
      outline: none;
      box-shadow: $shadow-1;
      &::placeholder {
        text-align: center;
        color: $grey;
      }
    }
  }

  // Styles for the bottom navigation bar
  .bottom-nav {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: #fff;
    text-align: center;
    height: 60px;
    z-index: +100;
    border-radius: 10px 10px 0 0;
    box-shadow: $shadow-2;
    .navlink {
      margin: auto;
      padding: 0 20px;
      a {
        p {
          font-size: 0.6rem;
          font-weight: $bold;
        }
      }
    }
  }

  // Styles for the landing page
  .landing-page {
    margin-top: 150px;
    form {
      input {
        margin-bottom: 50px;
        &.submit-name {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  // Styles for the add-weight page
  .add-weight {
    .save-weight {
      background-color: $green;
      color: #fff;
      font-weight: $bold;
    }
  }

  // Styles for the dashboard page
  .dashboard {
    .overview,
    .bmi {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: $shadow-1;
      margin: 40px 20px;
      padding: 20px;
      color: $grey;

      // Style for "Congratulatory message"
      .congratulatory-message {
        max-width: 60%;
        margin: auto;
      }

      // Style for "see history" link
      .see-history {
        margin-top: 30px;
        font-weight: $bold;
        a {
          font-size: 0.7rem;
        }
      }

      // Style for the h2 tags in two cards
      h2 {
        font-size: 2.8rem;
        &.coming-soon-header {
          color: $yellow;
          margin-bottom: 20px;
        }
      }

      // Style for the card heading
      .card-name {
        margin-bottom: 50px;
        font-weight: $bold;
      }

      // Other styles
      .current-weight {
        margin-bottom: 50px;
        .weight-value {
          color: $skyBlue;
          margin-top: 20px;
        }
      }
      .update-me {
        background-color: $green;
        color: #fff;
        font-weight: $bold;
      }
    }
  }

  // Styles for the history page
  .history {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    margin: 40px 20px;
    padding: 20px;
    color: $grey;
    .weight-entry {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 50px 0;
      .day {
        font-size: 2rem;
        font-weight: $bold;
      }
      .weight {
        text-align: left;
        margin-left: 20px;
      }
    }
  }
}
