$grey: #7e7e7e;
$skyBlue: #52c8fa;
$green: #3adf55;
$yellow: #cfc531;
$bg-main-mobile: url(https://res.cloudinary.com/dpkreativ/image/upload/v1576603492/Body%20Weight%20Tracker%20App/bg-main-mobile_edxivg.png);
$bg-main-desktop: url(https://res.cloudinary.com/dpkreativ/image/upload/v1576603490/Body%20Weight%20Tracker%20App/bg-main-desktop_i5i76h.png);
$opacity: opacity(50%);
$shadow-1: 2px 2px 4px rgba(0, 0, 0, 0.5);
$shadow-2: -2px -2px 10px rgba(0, 0, 0, 0.3);
$bold: 700;
$regular: 400;
