* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

* a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(https://res.cloudinary.com/dpkreativ/image/upload/v1576603492/Body%20Weight%20Tracker%20App/bg-main-mobile_edxivg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  header {
    padding: 30px;
  }
  header .nav-bar {
    display: none;
  }
  .user {
    margin-top: 50px;
  }
  .user .motivational {
    display: none;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 30px;
  }
  form input {
    margin-bottom: 30px;
    height: 40px;
    border-radius: 40px;
    min-width: 315px;
    border: none;
    outline: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  form input::-webkit-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input:-ms-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input::-ms-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input::placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  .bottom-nav {
    position: fixed;
    bottom: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: #fff;
    text-align: center;
    height: 60px;
    z-index: +100;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
            box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
  }
  .bottom-nav .navlink {
    margin: auto;
    padding: 0 20px;
  }
  .bottom-nav .navlink a p {
    font-size: 0.6rem;
    font-weight: 700;
  }
  .landing-page {
    margin-top: 150px;
  }
  .landing-page form input {
    margin-bottom: 50px;
  }
  .landing-page form input.submit-name {
    background-color: #000;
    color: #fff;
  }
  .add-weight .save-weight {
    background-color: #3adf55;
    color: #fff;
    font-weight: 700;
  }
  .dashboard .overview,
  .dashboard .bmi {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 20px;
    padding: 20px;
    color: #7e7e7e;
  }
  .dashboard .overview .congratulatory-message,
  .dashboard .bmi .congratulatory-message {
    max-width: 60%;
    margin: auto;
  }
  .dashboard .overview .see-history,
  .dashboard .bmi .see-history {
    margin-top: 30px;
    font-weight: 700;
  }
  .dashboard .overview .see-history a,
  .dashboard .bmi .see-history a {
    font-size: 0.7rem;
  }
  .dashboard .overview h2,
  .dashboard .bmi h2 {
    font-size: 2.8rem;
  }
  .dashboard .overview h2.coming-soon-header,
  .dashboard .bmi h2.coming-soon-header {
    color: #cfc531;
    margin-bottom: 20px;
  }
  .dashboard .overview .card-name,
  .dashboard .bmi .card-name {
    margin-bottom: 50px;
    font-weight: 700;
  }
  .dashboard .overview .current-weight,
  .dashboard .bmi .current-weight {
    margin-bottom: 50px;
  }
  .dashboard .overview .current-weight .weight-value,
  .dashboard .bmi .current-weight .weight-value {
    color: #52c8fa;
    margin-top: 20px;
  }
  .dashboard .overview .update-me,
  .dashboard .bmi .update-me {
    background-color: #3adf55;
    color: #fff;
    font-weight: 700;
  }
  .history {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 20px;
    padding: 20px;
    color: #7e7e7e;
  }
  .history .weight-entry {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
  }
  .history .weight-entry .day {
    font-size: 2rem;
    font-weight: 700;
  }
  .history .weight-entry .weight {
    text-align: left;
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-image: url(https://res.cloudinary.com/dpkreativ/image/upload/v1576603490/Body%20Weight%20Tracker%20App/bg-main-desktop_i5i76h.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }
  .bottom-nav {
    display: none;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 40px;
  }
  form input {
    margin-bottom: 30px;
    height: 40px;
    border-radius: 40px;
    min-width: 315px;
    border: none;
    outline: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 300px;
  }
  form input::-webkit-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input:-ms-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input::-ms-input-placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input::placeholder {
    text-align: center;
    color: #7e7e7e;
  }
  form input.save-weight {
    background-color: #3adf55;
    color: #fff;
  }
  form input.submit-name {
    background-color: #000;
    color: #fff;
  }
  .user {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a a";
    grid-auto-columns: 50%;
    grid-gap: 10px;
    margin-top: 150px;
  }
  .user .motivational {
    margin-left: 40px;
  }
  .user .motivational p {
    text-align: left;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
  }
  header {
    margin: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #fff;
  }
  header .nav-bar .top-nav {
    margin: 0 20px;
    font-weight: 700;
  }
  header .logo {
    width: 300px;
  }
  .dashboard .overview,
  .dashboard .bmi {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 20px;
    padding: 20px;
    color: #7e7e7e;
  }
  .dashboard .overview .congratulatory-message,
  .dashboard .bmi .congratulatory-message {
    max-width: 60%;
    margin: auto;
  }
  .dashboard .overview .see-history,
  .dashboard .bmi .see-history {
    margin-top: 30px;
    font-weight: 700;
  }
  .dashboard .overview .see-history a,
  .dashboard .bmi .see-history a {
    font-size: 0.7rem;
  }
  .dashboard .overview h2,
  .dashboard .bmi h2 {
    font-size: 2.8rem;
  }
  .dashboard .overview h2.coming-soon-header,
  .dashboard .bmi h2.coming-soon-header {
    color: #cfc531;
    margin-bottom: 20px;
  }
  .dashboard .overview .card-name,
  .dashboard .bmi .card-name {
    margin-bottom: 50px;
    font-weight: 700;
  }
  .dashboard .overview .current-weight,
  .dashboard .bmi .current-weight {
    margin-bottom: 50px;
  }
  .dashboard .overview .current-weight .weight-value,
  .dashboard .bmi .current-weight .weight-value {
    color: #52c8fa;
    margin-top: 20px;
  }
  .dashboard .overview .update-me,
  .dashboard .bmi .update-me {
    background-color: #3adf55;
    color: #fff;
    font-weight: 700;
  }
  .history {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 40px 20px;
    padding: 20px;
    color: #7e7e7e;
  }
  .history .weight-entry {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
  }
  .history .weight-entry .day {
    font-size: 2rem;
    font-weight: 700;
  }
  .history .weight-entry .weight {
    text-align: left;
    margin-left: 20px;
  }
}
